.short{
    height:290%; width:100%;
}
.red{
    background-color: #a8142c;
}

.short2{
    height:9%;
}

.white{ 
    color : white
}

p.ex1 {
    padding-top: 100px;
  }

  h1 {
    text-align: center;
    }

    p1 {
        text-align: center;
        }

.marquee {
    width:"50"; height:"50"; color : #a8142c; font-size: 40px; align: center;

}
p.ex1 {
    padding-top: 25px;
  }

  .bg-red {
    background-color: #a51f2fec;
    color: #ffffff;
}